{% extends "partials/layout.njk" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>
        Karolini leht!
        <sub>
             Väga cool!
        </sub>
    </h1>
{% endblock %}